* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    background-color: rgb(198, 241, 184);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url();
}

button {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #3210c9;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin-top: 100px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.1);
}

button:active {
  transform: scale(1.025);
}

@media screen and (min-width: 769px) {
  button {
    font-size: 1.2rem;
    padding: .75rem 2rem;
  }
}
@media screen and (max-width: 768px) {
    button {
      margin: 0;
    }
    .container{
      gap: 60px;
    }
  }